.taskform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitulo {
    color: #8473FF;
    padding: 20px;
    font-size: 2em;
    font-weight: 500;
}

.tasklist {
    position: relative;
    background-color: #150C27;
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    border-radius: 15px;
    width: 95%;
    margin-bottom: 20px;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes aparicion {
    0% {transform: translateY(0);
        opacity: 0;}
    50% {transform: translateY(-18px);
        opacity: 0.5;}
    90% {transform: translateY(-9px);
        opacity: 0.9;}
    100% {transform: translateY(0);
        opacity: 1;}
}

@keyframes eliminacion {
    0% {transform: scaleY(1);
        opacity: 1;}
    80% {transform: scaleY(0.5);
        opacity: 0.5;}
    100% { transform: scaleY(0);
        opacity: 0;
        height: 0;
    }
}

.items-lista {
    opacity: 0;
    transform-origin: top;
    animation: aparicion 500ms ease-in-out forwards;
    position: relative;
    width: 230px;
    height: 120px;
    margin: 20px;
    padding: 25px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1A0091, #7100EA);
    color: white;
    font-size: 1.2em;
    border-radius: 15px;
    border: 1.9px solid #28FD9A;
}

.items-lista.aparecer {
    animation-delay: var(--delay);
}

.items-lista.eliminando {
    animation: eliminacion 500ms ease-in-out forwards;
}

.items-lista-boton {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    color: #28FD9A;
    font-size: 1em;
    font-weight: 100;
    background-color: transparent;
    cursor: pointer;
}