@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: linear-gradient(to top, #1B093F 70%, #080918);
  font-family: "Roboto", sans-serif;
}

.app-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titulo-principal {
  color: white;
  font-size: 3.7em;
  padding: 25px;
  padding-top: 35px;
}

@media (max-width: 576px) {
  .titulo-principal {
    font-size: 3em;
  }
}